<%- include("./partials/header") %>

<h1>LogIn Page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>LogIn</button>
</form>

<%- include("./partials/footer") %>