<%- include("partials/header") %>

<h1>This is landing page</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View Campgrounds</a>
<a href="/campgrounds/new">Add New Campgrounds</a>

<%- include("partials/footer") %>